{% extends 'shop/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">UserName : {{ user.username }}</h2>
          <h3 class="text-secondary">Email : {{ user.email }}</h3>
            <h3 class="text-secondary">First Name : {{ user.first_name }}</h3>
            <h3 class="text-secondary">Last Name : {{ user.last_name }}</h3>
          <h3 class="text-secondary">NAME : {{ user.first_name }} {{ user.last_name }} </h3>
<br><br><br><br><br>
            <div class="form-group">
                    <a  class="btn btn-outline-info" href="{% url 'change_profile' %}">Change Profile</a>
            </div>

          </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}


       